.layout-container {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    padding: 24px 32px;
    height: 8vh;
    background: linear-gradient(to right,rgba(68,70,69,0.5),rgba(49,49,49,0.01));
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.nav-itemns {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-itemns li, .nav-itemns a {
    color: aliceblue;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s ease-in;
}

.nav-itemns li:hover, .nav-itemns a:hover {
    color: #00ba38;
    cursor: pointer;
    transform: scale(1.05);
}

.sidebar {
    background: linear-gradient(to right, rgba(68, 70, 69, 0.5), rgba(49, 49, 49, 0.01));
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
}

.sidebar-nav {
    color: #fff;
    display: block;
    transition: 0.5s ease-in;
}

.content bold {
    font-weight: bold;
    color: #00ba38;
    font-size: 1.5em;
}

.content p {
    margin-top: 10px;
}

.side-button {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    background-color: #fff;
    color: #00ba38;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.content button:hover {
    background-color: #00ba38;
    color: #fff;
    transform: scale(1.05);
}

.pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 24px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.pro strong {
    font-weight: bold;
    color: #00ba38;
    font-size: 1.5em;
}

.pro p {
    margin-top: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5;
}

.pro button {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    background-color: #fff;
    color: #00ba38;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.pro button:hover {
    background-color: #00ba38;
    color: #fff;
    transform: scale(1.05);
}

.graphic {
    margin-left: 20px;
}

.button-voltar {
    width: 100%;
    font-size: 1.2em;
    margin-top: 20px;
    background-color: #fff;
    color: #00ba38;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease-in;
}

.button-voltar:hover {
    background-color: rgba(0, 186, 56, 0.8);
    color: #fff;
}
.crypto-table {
    list-style-type: none;
    width: 100%;
    align-items: center;
    display: block;
}

.crypto-list {
    justify-content: space-between;
    padding: 24px 20px;
}

.crypto-list li {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background: linear-gradient(to left, rgba(68, 70, 69, 0.5), rgba(49, 49, 49, 0.01));
    color: #ffffff;
    margin-bottom: 8px;
    padding: 18px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.crypto-list li:hover {
    background-color: #e6f7e6;
    color: #008e2b;
}

.crypto-list li span {
    flex-grow: 1; 
}

.crypto-list button {
    margin-left: 10px;
    font-size: 16px;
    background-color: #00ba38;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.crypto-list li button:hover {
    background-color: #008e2b;
}
.princi-cripto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #00ba38;
}

.chart h2 {
    color: #00ba38;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 40px;
}

.options-chart {
    display: flex;
}

.options-chart button {
    background-color: #ffffff;
    width: 110px;
    color: #00ba38;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease-in;
    margin-left: 10px;
}

.options-chart button:hover {
    background-color: #00ba38;
    color: #ffffff;
    border: 1px solid #00ba38;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-content {
    background: linear-gradient(to left, rgba(68, 70, 69, 0.5), rgba(49, 49, 49, 0.01));
    height: 100vh;
    padding: 24px;
    box-sizing: border-box;
}
